{
	"printWidth": 100,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
